code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    color: white;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black !important;

}

.links-container {
    text-align: center;
}


.links,
p {
    color: white;
    display: inline;
    margin: 6%;
}


#root {
    background-color: black;
}

.header {
    height: 25%;
    background: darkgreen;
    text-align: center;
    color: black;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 2%;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
}

.card-dropdown {
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
}

.project-images img {
    align-self: left;
    width: 80% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.btn.btn-outline-secondary {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    width: 100%;
}

.btn.btn-outline-secondary:hover {
    background-color: lightgreen;
    border-color: lightgreen;
    color: white;
}


.col-md-10 {
    margin-left: 2%;
    width: 80%;
    justify-content: center;
}

.about-me,
.resume-link,
.contact-info {
    text-align: center;
    color: white;
}

.carousel {
    padding-top: 2%;
    padding-bottom: 2%;
}

.carousel-item {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
    margin-bottom: 10%;
}

.project-title {
    text-align: center;
    border-bottom: 2px solid #333;

}

.project-images {
    width: 90%;
    height: 80%;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;

}

.project-images img {
    object-fit: cover;
}

.project-description {
    display: inline-block;
    width: 80%;
    height: fit-content;
    vertical-align: top;
    color: white;
    margin-left: 12%;
    text-align: left;
}

body .carousel-control-prev,
body .carousel-control-next {
    color: green !important;
}

.carousel-indicators {
    bottom: -2rem;
}

.carousel-indicators button.active {
    background-color: darkgreen !important;
    border-color: darkgreen !important;
}

.navbar-nav .nav-link {
    color: green;
}

.navbar-nav .nav-link:hover {
    color: #ff5733;
}



@media (max-width: 650px) {

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-image: none !important;
        display: none !important;
    }

    .carousel-control-next-icon::before,
    .carousel-control-prev-icon::before {
        content: '▶';
        display: block;
        font-size: 2rem;
        color: green !important;
    }

}