code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: white;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;

}

.container {
  color: white;
}

#root {
  background-color: black;
}

.header {
  height: 25%;
  background: darkgreen;
  text-align: center;
  color: black;
  padding-bottom: 1%;
  padding-top: 2%;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: black;
}

.card-dropdown {
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.project-images img {
  align-self: left;
  width: 80% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.btn.btn-outline-secondary {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  color: white;
  border-color: transparent;
  width: 100%;
}

.btn.btn-outline-secondary:hover {
  background-color: lightgreen;
  border-color: lightgreen;
  color: white;
}


.col-md-10 {
  margin-left: 2%;
  width: 80%;
  justify-content: center;
}

.about-me {
  text-align: center;
}

.carousel {
  padding-top: 2%;
  padding-bottom: 2%;
}

.carousel-item {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  min-height: 600px;
}

.project-title {
  text-align: left;
}


.project-images {
  width: 90%;
  height: 50%;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%;

}

.project-images img {
  object-fit: cover;
}

.project-description {
  display: inline-block;
  width: 80%;
  height: 20%;
  vertical-align: top;
  color: white;
  margin-left: 12%;
  text-align: left;
}

.carousel-control-prev,
.carousel-control-next {
  color: white;
}

.carousel-indicators {
  bottom: -2rem;
}

.carousel-indicators button {
  background-color: green !important;
  border: 1px solid green !important;
}

.carousel-indicators button.active {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
}

.navbar-nav .nav-link {
  color: green;
}

.navbar-nav .nav-link:hover {
  color: #ff5733;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: white;
}